body {
    background-image: url('../images/bg.jpg');
    /* Background image for the page */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #007bff;
    border: none;
    color: white;
}

.dropdown-toggle:hover {
    background-color: #0056b3;
}

.dropdown-menu {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    padding: 10px 15px;
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}