<!DOCTYPE html>
<html lang="en">

<head>
    <title>Footer Design</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/footer.css"> <!-- Make sure to use the correct path -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    <!-- Footer Section -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <!-- Company Information Column -->
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="../pages/home.html">Home</a></li>
                        <li><a href="../pages/about.html">About Us</a></li>
                        <li><a href="../pages/hospitals.html">Hospitals</a></li>
                        <li><a href="../pages/ambulances.html">Ambulances</a></li>
                        <li><a href="../pages/diseases.html">Diseases</a></li>
                        <li><a href="../pages/contact.html">Contact</a></li>
                    </ul>
                </div>

                <!-- Help & Support Column -->
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Order Status</a></li>
                        <li><a href="#">Payment Options</a></li>
                    </ul>
                </div>

                <!-- Shop Column -->
                <div class="footer-col">
                    <h4>online shop</h4>
                    <ul>
                        <li><a href="#">Watch</a></li>
                        <li><a href="#">Bag</a></li>
                        <li><a href="#">Shoes</a></li>
                        <li><a href="#">Dress</a></li>
                    </ul>
                </div>

                <!-- Social Media Column -->
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="https://www.linkedin.com/in/yashodip-jagtap-423848272/"><i
                                class="fab fa-facebook-f"></i></a>
                        <a href="https://www.linkedin.com/in/yashodip-jagtap-423848272/"><i
                                class="fab fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/yashodip-jagtap-423848272/"><i
                                class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/yashodip-jagtap-423848272/"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>